{{#extend "body"}}
<section class="page-section" id="section-lunchroom-header">
  <div class="lunchroom-header">
    <div class="container">
      <div class="tabs">
        <a class="active" href="#">Mon<small>Jan 26</small></a>
        <a href="#">Tues<small>Jan 27</small></a>
        <a href="#">Weds<small>Jan 28</small></a>
        <a href="#">Thurs<small>Jan 29</small></a>
        <a href="#">Fri<small>Jan 30</small></a>
      </div>
      <div class="module">
        Delivery to: <small>Bazaarvoice</small>
      </div>
      <div class="module">
        Delivery Time: <small>12:00-12:30 PM</small>
      </div>
      <div class="module">
        Time left to order:
        <small class="text-important">1 hr 26min</small>
      </div>
      <div class="module module-right module-unpadded">
        <a class="btn btn-primary" href="checkout">Checkout (1)</a>
      </div>
    </div>
  </div>
</section>

<section class="page-section" id="section-item-tiles">
  <div class="container">
    <div class="tiles item-tiles">
      {{#each items}}
        <div class="tile item-tile">
          <div class="tile-cover" style="background-image: url('{{coverPhotoUrl}}');">
          </div>
          <div class="tile-info">
            <h3 class="tile-title">{{name}}</h3>
            <ul class="diet-tags">
              {{#each dietTags}}
                <li class="diet-tag diet-tag-{{this}}"></li>
              {{/each}}
            </ul>
            <div class="item-price">${{dollars price}}</div>
            <button
              class="btn btn-default btn-add"
              data-toggle="modal"
              data-target="#item-modal">Add</button>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>

<section class="page-section" id="section-item-tiles">
  <div class="container">
    <div class="panel-wrapper" style="max-width: 620px">
      <div class="panel panel-dark panel-share-link">
        <p class="panel-text">
          <strong>Share this link</strong> with coworkers to let them view the menu and place their own order!
        </p><!--
        --><input type="text"
            class="panel-input form-control"
            value="https://lunchroom.goodybag.com/bazaar-voice">
      </div>
    </div>
  </div>
</section>

<section class="page-section" id="section-checkout-info">
  <div class="container">
    <fieldset class="checkout-info form-vertical">
      <div class="user-info">
        <h3 class="section-title">Your Info</h3>
        <div class="form-group">
          <label for="">Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="">Phone Number</label>
          <input type="tel" class="form-control">
        </div>
      </div>
      <div class="payment-info">
        <h3 class="section-title">Payment Info</h3>
          <div class="form-group form-group-member-name">
            <label for="">Name on card</label>
            <input type="text" class="form-control" name="card_member_name">
          </div>
          <div class="inline-form-group-list">
            <div class="form-group form-group-card-number">
              <label for="">Card number</label>
              <input type="text" class="form-control" name="card_number">
            </div>
            <div class="form-group form-group-card-cvv">
              <label for="">CVV</label>
              <input type="text" class="form-control" name="card_cvv">
            </div>
            <div class="form-group form-group-expiration">
              <label for="">Expiration date</label>
              <input type="text" class="form-control" placeholder="MM" name="card_expiration_month">
              /
              <input type="text" class="form-control" placeholder="YY" name="card_expiration_year">
            </div>
          </div>
      </div>
    </fieldset>
  </div>
</section>

<section class="page-section" id="section-order-reviewer">
  <div class="container">
    <div class="order-reviewer">
      <h3 class="order-reviewer-header">Today's order
        <a href="#" class="order-reviewer-item-add-link">Add items</a>
      </h3>

      <div class="order-reviewer-items">
        {{#each order.items}}
          <div class="order-reviewer-item">
            <div class="order-reviewer-item-col photo-col">
              <img src="{{this.coverPhotoUrl}}" alt="{{this.name}}">
            </div>
            <div class="order-reviewer-item-col item-desc">
              <div class="order-reviewer-item-description-wrapper">
                <div class="order-reviewer-item-description">
                  <h4 class="order-reviewer-item-title">{{this.name}}</h4>
                </div>
                <ul class="order-reviewer-item-actions">
                  <li class="action"><a href="#">edit</a></li>
                  <li class="action"><a href="#">remove</a></li>
                </ul>
              </div>
            </div>
            {{!-- TODO: Figure out how to display Options --}}
            {{!-- <div class="order-reviewer-item-col">
              <strong>Options:</strong>
            </div> --}}
            <div class="order-reviewer-item-col">
              <strong>Quantity:</strong> {{this.quantity}}
            </div>
            <div class="order-reviewer-item-col price-col">
              ${{dollars this.price}}
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>

<section class="page-section" id="section-order-summary">
  <div class="container">
    <div class="order-summary-wrapper">
      <div class="order-summary">
        <div class="order-summary-item">
          <div class="order-summary-col order-summary-key">Subtotal</div>
          <div class="order-summary-col order-summary-value">$8.80</div>
        </div>
        <div class="order-summary-item">
          <div class="order-summary-col order-summary-key">Tax</div>
          <div class="order-summary-col order-summary-value">$0.73</div>
        </div>
        <div class="order-summary-item">
          <div class="order-summary-col order-summary-key">Goodybag Fee</div>
          <div class="order-summary-col order-summary-value">$2.99</div>
        </div>
        <div class="order-summary-item order-summary-item-total">
          <div class="order-summary-col order-summary-key">Total</div>
          <div class="order-summary-col order-summary-value">$12.37</div>
        </div>
      </div>
      <button class="btn btn-primary btn-place-order">Place Order</button>
    </div>
  </div>
</section>

<div class="modal item-modal fade" id="item-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-photo-wrapper">
        <img class="modal-photo" src="https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=430&h=400&fit=crop">
      </div>
      <div class="modal-main-content">
        <div class="modal-main-content-body">
          <h3 class="item-modal-title">Fajita Torta
            <span class="item-modal-price">$12.00</span>
          </h3>
          <p class="item-modal-description">Mexican sandwich with top sirloin steak, bell peppers, mushrooms, and onions. Topped with queso, avocado, tomatoes, and Mexican mayo dressing.</p>
          <ul class="diet-tags">
            <li class="diet-tag diet-tag-spicy"></li>
          </ul>
        </div>
        <div class="item-modal-actions">
          <div class="form-group item-modal-quantity-form-group">
            <label class="item-modal-quantity-label">Quantity:</label>
            <input type="number" value="1" class="item-modal-quantity-input">
          </div>
          <button class="btn btn-primary item-modal-save-btn">Add to Order</button>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer">
  <ul class="nav footer-nav">
    <li><a href="#" data-toggle="modal" data-target="#contact-us-modal">Contact Us</a></li>
    <li><a href="https://www.goodybag.com/legal">Terms of service</a></li>
    <li><a href="https://www.goodybag.com/privacy">Privacy policy</a></li>
  </ul>
</footer>
{{/extend}}
