{{#extend "page"}}page-checkout{{/extend}}

{{#extend "body"}}
{{> header hideCheckout=true}}

<div class="container page-nav-container" component:id="checkout-navbar">
  <ul class="page-nav">
    <li class="page-nav-item">
      <a href="/pages/menu" class="page-nav-item-link" component:elm="addItemsLink">&lt; Back to menu</a>
    </li>
  </ul>
</div>


<div class="container" component:id="no-items">
  <div class="warning-section" component:id="warning-section">
    <img src="/img/cupcake-shocked.png" alt="" class="warning-section-supporting-graphic">
    <h2 class="warning-section-header">You have nothing in your cart!</h2>
    <p><a href="#" component:elm="addItemsLink">Add items</a></p>
  </div>
</div>


<div class="container" component:id="too-late">
  <div class="warning-section" component:id="warning-section">
    <img src="/img/cupcake-shocked.png" alt="" class="warning-section-supporting-graphic">
    <h2 class="warning-section-header">Sorry, time’s up :(.</h2>
    <p>You must place your order by <span component:prop="orderBy">10am</span>.</p>
  </div>
</div>


<div class="container">
  <h2 class="section-header">Checkout Form (new user)</h2>
</div>

<div class="container checkout-info-container" id="section-checkout-info" component:id="checkout-form-new">
  <fieldset
    class="checkout-info form-vertical"
    component:id="checkout-form-new"
    component:view="default">
    <div class="user-info">
      <h3 class="section-title">Your Info</h3>
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="name" component:elm="info[name]">
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" name="email" component:elm="info[email]">
      </div>
      <div class="form-group">
        <label for="">Phone Number</label>
        <input type="tel" class="form-control" name="phone" component:elm="info[phone]">
      </div>
      <p class="checkout-info-note">We'll email/text you when your meal has arrived!</p>
    </div>
    <div class="payment-info">
      <h3 class="section-title">Payment Info</h3>
      <div class="error-group" data-error-group="payment_method"></div>
      <div class="payment-method-wrapper">
        <div class="form-group form-group-member-name">
          <label for="">Name on card</label>
          <input type="text" class="form-control" name="card_member_name" component:elm="card[name]">
        </div>
        <div class="inline-form-group-list">
          <div class="form-group form-group-card-number">
            <label for="">Card number</label>
            <input type="tel" class="form-control" name="card_number" component:elm="card[number]">
          </div>
          <div class="form-group form-group-card-cvv">
            <label for="">CVV</label>
            <input type="tel" class="form-control" name="card_cvv" component:elm="card[cvc]">
          </div>
          <div class="form-group form-group-expiration">
            <label for="">Expiration date</label>
            <input type="tel" class="form-control" placeholder="MM" name="card_expiration_month" component:elm="card[expire-month]">
            <span class="control-separator">/</span>
            <input type="tel" class="form-control" placeholder="YY" name="card_expiration_year" component:elm="card[expire-year]">
          </div>
        </div>
        <div class="form-group form-group" component:view="show-save-option">
          <label>
            <input type="checkbox" name="will_add_new_card" checked>
            Save card?
          </label>
        </div>
    </div>
  </fieldset>
</div>

<div class="container">
  <h2 class="section-header">Checkout Form (existing user)</h2>
</div>

<div class="container checkout-info-container" id="section-checkout-info-existing-user" component:id="checkout-form-existing">
  <fieldset
    class="checkout-info form-vertical"
    component:id="checkout-form-existing"
    component:view="existing-user">
    <div class="user-info">
      <h3 class="section-title">Your Info</h3>
      <div class="form-group">
        <label for="">Name</label>
        <input value="Jane Doe" type="text" name="name" class="form-control" component:elm="info[name]">
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input value="jane.doe@missingpeeps.com" type="email" name="email" class="form-control" component:elm="info[email]">
      </div>
      <div class="form-group">
        <label for="">Phone Number</label>
        <input name="phone" value="(512) 456-7890" type="tel" class="form-control" component:elm="info[phone]">
      </div>
      <p class="checkout-info-note">We'll email/text you when your meal has arrived!</p>
    </div>
    <div class="payment-info">
      <h3 class="section-title">Payment Info</h3>
      <div class="form-group form-group-cc-selction">
        <label for="">Select a card</label>
        <select name="payment_method_id" class="form-control">
          <option value="1">**** 1234 Exp. 07/17</option>
           <option value="2">**** 5678 Exp. 11/19</option> 
        </select>
      </div>
      <label class="form-group-header">
        <input type="checkbox" name="will_add_new_card">
        Or, add a new card
      </label>
      <div class="error-group" data-error-group="payment_method"></div>
      <div class="payment-method-wrapper disabled">
        <div class="form-group form-group-member-name">
          <label for="">Name on card</label>
          <input value="" type="text" class="form-control" name="card_member_name" component:elm="card[name]">
        </div>
        <div class="inline-form-group-list">
          <div class="form-group form-group-card-number">
            <label for="">Card number</label>
            <input type="tel" class="form-control" name="card_number" component:elm="card[number]">
          </div>
          <div class="form-group form-group-card-cvv">
            <label for="">CVV</label>
            <input type="tel" class="form-control" name="card_cvv" component:elm="card[cvc]">
          </div>
          <div class="form-group form-group-expiration">
            <label for="">Expiration date</label>
            <input type="tel" class="form-control" placeholder="MM" name="card_expiration_month" component:elm="card[expire-month]">
            <span class="control-separator">/</span>
            <input type="tel" class="form-control" placeholder="YY" name="card_expiration_year" component:elm="card[expire-year]">
          </div>
        </div>
        <div class="form-group form-group">
          <label>
            <input type="checkbox" name="save_card" checked>
            Save card?
          </label>
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="container">
  <h2 class="section-header">Checkout Form (validation test)
    <button class="btn btn-primary btn-validate">Validate</button>
  </h2>
</div>

<div class="container checkout-info-container" id="section-checkout-info-validation-test">
  <fieldset
    class="checkout-info form-vertical">
    <div class="user-info">
      <h3 class="section-title">Your Info</h3>
      <div class="form-group">
        <label for="">Name</label>
        <input name="name" value="" type="text" class="form-control" component:elm="info[name]">
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input name="email" value="" type="email" class="form-control" component:elm="info[email]">
      </div>
      <div class="form-group">
        <label for="">Phone Number</label>
        <input name="phone" value="" type="tel" class="form-control" component:elm="info[phone]">
      </div>
      <p class="checkout-info-note">We'll email/text you when your meal has arrived!</p>
    </div>
    <div class="payment-info">
      <h3 class="section-title">Payment Info</h3>
      <div class="form-group form-group-cc-selction">
        <label for="">Select a card</label>
        <select name="payment_method_id" class="form-control">
          <option value="1">**** 1234 Exp. 07/17</option>
          <option value="2">**** 5678 Exp. 11/19</option> 
        </select>
      </div>
      <label class="form-group-header">
        <input type="checkbox" name="will_add_new_card">
        Or, add a new card
      </label>
      <div class="error-group" data-error-group="payment_method"></div>
      <div class="payment-method-wrapper disabled">
        <div class="form-group form-group-member-name">
          <label for="">Name on card</label>
          <input value="" type="text" class="form-control" name="card_member_name" component:elm="card[name]">
        </div>
        <div class="inline-form-group-list">
          <div class="form-group form-group-card-number">
            <label for="">Card number</label>
            <input type="tel" class="form-control" name="card_number" component:elm="card[number]">
          </div>
          <div class="form-group form-group-card-cvv">
            <label for="">CVV</label>
            <input type="tel" class="form-control" name="card_cvv" component:elm="card[cvc]">
          </div>
          <div class="form-group form-group-expiration">
            <label for="">Expiration date</label>
            <input type="tel" class="form-control" placeholder="MM" name="card_expiration_month" component:elm="card[expire-month]">
            <span class="control-separator">/</span>
            <input type="tel" class="form-control" placeholder="YY" name="card_expiration_year" component:elm="card[expire-year]">
          </div>
        </div>
        <div class="form-group form-group">
          <label>
            <input type="checkbox" name="save_card" checked>
            Save card?
          </label>
        </div>
      </div>
    </div>
  </fieldset>
</div>



<div class="container checkout-info-container" component:id="checkout-form">
  <fieldset
    class="checkout-info form-vertical"
    component:id="checkout-form"
    component:view="default">
    <div class="user-info">
      <h3 class="section-title">Your Info</h3>
      <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" component:elm="info[name]">
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" component:elm="info[email]">
      </div>
      <div class="form-group">
        <label for="">Phone Number</label>
        <input type="tel" class="form-control" name="phone" component:elm="info[phone]">
      </div>
      <p class="checkout-info-note">We'll email/text you when your meal has arrived!</p>
    </div>
    <div class="payment-info">
    <h3 class="section-title">Payment Info</h3>
    <div class="error-group" data-error-group="payment_method"></div>
    <div class="payment-method-wrapper">
      <div class="form-group form-group-member-name">
        <label for="">Name on card</label>
        <input value="" type="text" class="form-control" name="card_member_name" component:elm="card[name]">
      </div>
      <div class="inline-form-group-list">
        <div class="form-group form-group-card-number">
          <label for="">Card number</label>
          <input type="tel" class="form-control" name="card_number" component:elm="card[number]">
        </div>
        <div class="form-group form-group-card-cvv">
          <label for="">CVV</label>
          <input type="tel" class="form-control" name="card_cvv" component:elm="card[cvc]">
        </div>
        <div class="form-group form-group-expiration">
          <label for="">Expiration date</label>
          <input type="tel" class="form-control" placeholder="MM" name="card_expiration_month" component:elm="card[expire-month]">
          <span class="control-separator">/</span>
          <input type="tel" class="form-control" placeholder="YY" name="card_expiration_year" component:elm="card[expire-year]">
        </div>
      </div>
      <div class="form-group form-group">
        <label>
          <input type="checkbox" name="save_card" checked>
          Save card?
        </label>
      </div>
    </div>
  </fieldset>
</div>

<div class="container order-reviewer-container" component:id="checkout-items">
  <div class="order-reviewer">
    <h3 class="order-reviewer-header">Today's order
      <a href="#" class="order-reviewer-item-add-link" component:elm="addItemsLink">Add items</a>
    </h3>

    <div class="order-reviewer-items" component:section="items">
      {{#each order.items}}
        <div class="order-reviewer-item" component:section="items" component:view="default">
          <div class="order-reviewer-item-col photo-col">
            <img src="{{this.photo_url}}" alt="{{this.name}}" component:prop="photo" component:prop-target="src"/>
          </div>
          <div class="order-reviewer-item-col item-desc">
            <div class="order-reviewer-item-description-wrapper">
              <div class="order-reviewer-item-description">
                <h4 class="order-reviewer-item-title" component:prop="title">{{this.name}}</h4>
              </div>
              <ul class="order-reviewer-item-actions">
                <li class="action"><a href="#" component:elm="removeLink">remove</a></li>
              </ul>
            </div>
          </div>
          {{!-- TODO: Figure out how to display Options --}}
          {{!-- <div class="order-reviewer-item-col">
            <strong>Options:</strong>
          </div> --}}
          <div class="order-reviewer-item-col">
            <strong>Quantity:</strong> <span component:prop="quantity">{{this.quantity}}</span>
          </div>
          <div class="order-reviewer-item-col price-col" component:prop="amount">
            ${{dollars this.price}}
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

<div class="container order-summary-container" component:id="checkout-summary">
  <div class="order-summary-wrapper">
    <div class="order-summary">
      <div class="order-summary-item">
        <div class="order-summary-col order-summary-key">Subtotal</div>
        <div class="order-summary-col order-summary-value" component:prop="subtotal">$8.80</div>
      </div>
      <div class="order-summary-item">
        <div class="order-summary-col order-summary-key">Tax</div>
        <div class="order-summary-col order-summary-value" component:prop="taxAmount">$0.73</div>
      </div>
      <div class="order-summary-item">
        <div class="order-summary-col order-summary-key">Goodybag Fee</div>
        <div class="order-summary-col order-summary-value" component:prop="goodybagFee">$2.99</div>
      </div>
      <div class="order-summary-item order-summary-item-total">
        <div class="order-summary-col order-summary-key">Total</div>
        <div class="order-summary-col order-summary-value" component:prop="total">$12.37</div>
      </div>
    </div>
    <button class="btn btn-primary btn-place-order" component:elm="placeOrderButton">Place Order</button>
  </div>
</div>
{{/extend}}