{{#extend "page"}}page-menu{{/extend}}

{{#extend "body"}}
<div class="lunchroom-header" component:id="navbar">
  <div class="container">
    <div class="modules">
      <div class="module" component:view="menuAvailable">
        Deliver to: <small component:prop="deliverTo">Bazaarvoice</small>
      </div>
      <div class="module" component:view="menuAvailable">
        Delivery Time: <small component:prop="deliveryTime">12:00-12:30 PM</small>
      </div>
      <div class="module" component:view="orderCountdown">
        Time left to order:
        <small class="text-important" component:prop="timeLeftToOrder">1 hr 26min</small>
      </div>
      <div class="module module-right module-unpadded module-checkout">
        <a component:elm="checkoutButton" component:view="not-on-checkout" class="btn btn-primary" href="checkout">Checkout (<span component:prop="cartItemCount">1</span>)</a>
      </div>
    </div>
    <div class="tabs" component:section="tabs">
      <a component:section="tabs" component:view="active" class="active" href="#"><span component:prop="tabDay">Mon</span><small component:prop="tabDate">Jan 26</small></a>
      <a component:section="tabs" component:view="default" href="#"><span component:prop="tabDay">Tues</span><small component:prop="tabDate">Jan 27</small></a>
      <a href="#"><span component:prop="tabDay">Weds</span><small component:prop="tabDate">Jan 28</small></a>
      <a href="#"><span component:prop="tabDay">Thurs</span><small component:prop="tabDate">Jan 29</small></a>
      <a href="#"><span component:prop="tabDay">Fri</span><small component:prop="tabDate">Jan 30</small></a>
    </div>
  </div>
</div>

<div class="container" component:id="menu-not-created">
  <div class="warning-section" component:id="warning-section">
    <img src="/img/cupcake-shocked-2.png" alt="" class="warning-section-supporting-graphic">
    <h2 class="warning-section-header">This menu has not been created yet!</h2>
    <p>Either this is an error with Goodybag, or the menu hasn't been created yet. Please check again later.</p>
  </div>
</div>

<div class="container" component:id="too-late">
  <div class="warning-section" component:id="warning-section">
    <img src="/img/cupcake-shocked-2.png" alt="" class="warning-section-supporting-graphic">
    <h2 class="warning-section-header">Sorry, time’s up :(.</h2>
    <p>You must place your order by <span component:prop="orderBy">10am</span>.</p>
  </div>
</div>

<div class="container items-container" component:id="menu">
  <h1 class="menu-provider-name">Dos Batos Wood Fired Tacos
    <span class="no-tip-note">No tips. Just a flat $2.99 fee</span>
  </h1>
  <div class="tiles item-tiles" component:section="items">
    {{#each items}}
      <div
        class="tile item-tile{{#if quantity}} is-in-cart{{/if}}"
        component:section="items"
        component:view="default">
        <div
          class="tile-cover"
          style="background-image: url('{{coverPhotoUrl}}');"
          component:prop="photoUrl"
          component:prop-target="style/background-image"
          component:elm="showDetailsLink"
          data-toggle="modal"
          data-target="#item-modal">
          <div class="item-tile-quantity-wrapper">
            <div class="item-tile-quantity">{{quantity}}</div>
            in your cart
          </div>
        </div>
        <div class="tile-info">
          <h3 class="tile-title" component:prop="title">{{name}}</h3>
          <ul class="diet-tags" component:section="diet-tags">
            {{#each dietTags}}
              <li class="diet-tag diet-tag-{{this}}" component:section="diet-tags" component:view="default"></li>
            {{/each}}
          </ul>
          <div class="item-price" component:prop="price">${{dollars price}}</div>
          <div class="item-tile-actions">
            <button class="btn btn-default btn-remove">-</button>
            <button
              class="btn btn-default btn-add"
              component:elm="addButton"
              component:view="orderable">Add</button>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<div class="container" component:id="menu-signup">
  <div class="menu-subscribe">
    <div class="warning-section">
      <img src="/img/cupcake-happy.png" alt="" class="warning-section-supporting-graphic">
      <h2 class="warning-section-header">Sign up for daily menu updates</h2>
      <div class="form">
        <div class="form-group">
          <label>Email</label>
          <input type="email" name="email" component:prop="email">
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="tel" name="phone" component:prop="phone">
        </div>
        <div class="form-group form-group-actions">
          <button class="btn btn-primary" component:elm="signupButton">Sign up!</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal item-modal fade" id="item-modal" component:id="menu-item-popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-photo-wrapper">
        <img
          class="modal-photo"
          src="https://www.filepicker.io/api/file/SZoK9zUvTPWXzmK81aGg/convert?w=430&h=400&fit=crop"
          component:prop="photoUrl"
          component:prop-target="src">
      </div>
      <div class="modal-main-content">
        <div class="modal-main-content-body">
          <h3 class="item-modal-title" component:prop="title">Fajita Torta
            <span class="item-modal-price" component:prop="price">$12.00</span>
          </h3>
          <p class="item-modal-description" component:prop="description">Mexican sandwich with top sirloin steak, bell peppers, mushrooms, and onions. Topped with queso, avocado, tomatoes, and Mexican mayo dressing.</p>
          <ul class="diet-tags" component:section="diet-tags">
            <li class="diet-tag diet-tag-spicy" component:section="diet-tags" component:view="default"></li>
          </ul>
        </div>
        <div class="item-modal-actions">
          {{!-- <div class="form-group item-modal-quantity-form-group">
            <label class="item-modal-quantity-label">Quantity:</label>
            <input type="number" value="1" class="item-modal-quantity-input">
          </div> --}}
          <button
            class="btn btn-primary
            item-modal-save-btn"
            component:elm="addButton"
            component:view="orderable">Add to Order</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{/extend}}